.previews {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 0 0 300px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 24px 0 0 0;
    margin: 0;
    background-color: whitesmoke;
    list-style: none;
}

.preview {
    width: 100%;
    flex: 0 0 100px;
    padding: 4px 24px;
    transition: background-color 220ms ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: lightgray;
    }
}
