:global {
    * {
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
    }
    html,
    body,
    body > div {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}
